/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.env.dusk.local
.DS_Store
.php-cs-fixer.cache
peopleOS.code-workspace
CLAUDE.md
/.github/prompts
/.github/copilot-instructions.md
/.cursor
