includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    # Level 9 is the highest level
    level: 5
    ignoreErrors:
        - '#Property App\\Models\\[a-zA-Z]+::\$[a-zA-Z_]+_at \(string\|null\) does not accept Illuminate\\Support\\Carbon\.#'
        - '#Access to an undefined property App\\Models\\MarketingPage::\$pivot\.#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$tasks\.#'

    excludePaths:
        - app/Http/Controllers/Auth/VerifyEmailController.php
        - app/Http/Resources/*.php
        - app/Services/DestroyAccountBecauseInactivity.php
        - app/Services/GetDashboardInformation.php
        - app/Services/GetRelationshipsListing.php
        - app/Services/GenerateMarketingSitemap.php

#    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
